<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Blog</title>
</head>
<body>
    <h1>Dango Girls Blog</h1>

    <div>
        <p>published: 04.06.2018, 12:14</p>
        <h2>My First Post</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, asperiores consequuntur deleniti earum, eveniet expedita explicabo illo incidunt libero, quaerat tenetur. Aliquid at aut corporis cupiditate doloribus ducimus eum itaque iusto, maxime nihil possimus praesentium quidem, quo tenetur voluptatum.</p>
    </div>
    <div>
        <p>published: 04.06.2018, 12:15</p>
        <h2>My second Post</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, asperiores consequuntur deleniti earum, eveniet expedita explicabo illo incidunt libero, quaerat tenetur. Aliquid at aut corporis cupiditate doloribus ducimus eum itaque iusto, maxime nihil possimus praesentium quidem, quo tenetur voluptatum.</p>
    </div>
</body>
</html>


